@font-face {
  font-family: 'CoFoSans';
  src: url('../fonts/CoFoSans-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'CoFoSans';
  src: url('../fonts/CoFoSans-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'CoFoSans';
  src: url('../fonts/CoFoSans-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'CoFoSans';
  src: url('../fonts/CoFoSans-Black.woff') format('woff');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'fontello';
  src: url('./font/fontello.eot?91417669');
  src: url('./font/fontello.woff?91417669') format('woff');
  font-weight: normal;
  font-style: normal;
}

body {
	background-color: #0D0D0D;
	margin: 0px;
	padding: 0px;
}

*{
	box-sizing: border-box;	
}

.header {
	padding: 16px 16px 0px 16px;
	max-width: 100%;
	margin: 0px;
	display: block;
}

div {
	padding: 0px;
	margin: 0px;
}

.project-header {
	padding: 32px 0px;
}

.period {
	font-family: 'CoFoSans', sans-serif;
  font-weight: 700;
  font-size: 26px;
  padding-bottom: 16px;
}

.position {
	font-family: 'CoFoSans', sans-serif;
  font-weight: 700;
	border-radius: 20px;
	font-size: 18px;
	padding: 8px 16px;
	display: inline-block;
	background: #FFFFFF;
  color: #000000;
}

.content .block {
  margin: 0px 16px 16px 16px;
  border-radius: 28px;
}

.content h2 {
  font-size: 100px;
  margin: 0px;
  color: #FFFFFF;
}

.block {
  text-align: center;
  font-family: 'CoFoSans', sans-serif;
  font-weight: 900;
  color: #FFFFFF;
  background-color: #1A1A1A;
}

.card-row {
  display: flex;
  flex-direction: row;
  width: 764px;
  margin: auto;
  padding-bottom: 24px;
}

.card-col {
  display: flex;
  flex-direction: column;
}

.card {
  width: 370px;
  font-family: 'CoFoSans', sans-serif;
  border-radius: 28px;
  margin: 12px;
  text-align: center;
}

.card-info {
	text-align: left;
  padding: 32px 32px 0;
  margin: 0px;
}
.card h3 {
	font-family: 'CoFoSans', sans-serif;
  font-weight: 700;
  font-size: 32px;
  margin: 0;
  margin-bottom: 16px;
}
.card span {
  font-size: 18px;
  font-family: 'CoFoSans', sans-serif;
  font-weight: 500;
}
.card li {
  font-size: 18px;
  font-weight: 500;
  list-style: disc;
}
.card img {
	max-width: 100%;
	margin: 0px;
	margin: auto;
  vertical-align: bottom;
}
.card-buttons {
  padding-bottom: 24px;
}
.card .button {
  margin: 5px;
  padding: 8px 16px;
  background: #ffffff;
}
.button {
  display: inline-block;
  background: #ffffff;
  padding: 20px 40px;
  border-radius: 13px;
  text-decoration: none;
  color: #000000;
  font-size: 20px;
  font-family: 'CoFoSans', sans-serif;
  font-weight: 500;
}

.social_icon {
  color: rgba(249,249,73,0.8);
  text-decoration: none;
}

.social_icon:hover {
  color: #ffffff;
}

.socials {
	text-align: center;
	color: #FFFFFF;
	font-size: 2.5em;
	padding: 24px;
	display: block;
}

.canvas {
  background-color: #BBAACC;
}

.crisalix {
  background-color: #137191;
}

.unest {
  background-color: #189D7A;
}

.ok {
  background-color: #EE8208;
}

.alfa {
  background-color: #EF3124;
}

.more {
  background-color: #FFFFFF;
}

.card .button-more {
	margin: 5px;
  padding: 8px 16px;
  background: #1A1A1A;
}
.button-more {
  display: inline-block;
  background: #ffffff;
  padding: 20px 40px;
  border-radius: 13px;
  text-decoration: none;
  color: #FFFFFF;
  font-size: 20px;
  font-family: 'CoFoSans', sans-serif;
  font-weight: 500;
}
